---
import type { BodyConfig } from "../types";

interface Props {
  config: BodyConfig;
}

const { config } = Astro.props;
const { description, image_1, image_2, image_3, type } = config;

const imgStyle = "width: 100%; height: 100%; object-fit: cover; display: block;";
const descStyle = "align-self: end; padding: 2rem 2.5rem; color: var(--color-primary);";
---


{type === 1 && (
  <section data-component="body" class="body-grid body-grid-1">
    {image_1 && <div class="img-wrapper"><img src={image_1} alt="" style={imgStyle} /></div>}
    {image_2 && <div class="img-wrapper"><img src={image_2} alt="" style={imgStyle} /></div>}
    <div style={descStyle}><p style="margin: 0; line-height: 1.6;">{description}</p></div>
  </section>
)}

{type === 2 && (
  <section data-component="body" class="body-grid body-grid-2">
    {image_1 && <div class="img-wrapper-wide"><img src={image_1} alt="" style={imgStyle} /></div>}
    <div style={descStyle}><p style="margin: 0; line-height: 1.6;">{description}</p></div>
  </section>
)}

{type === 3 && (
  <section data-component="body" class="body-grid body-grid-3">
    {image_1 && <div class="img-wrapper"><img src={image_1} alt="" style={imgStyle} /></div>}
    {image_2 && <div class="img-wrapper"><img src={image_2} alt="" style={imgStyle} /></div>}
    {image_3 && <div class="img-wrapper"><img src={image_3} alt="" style={imgStyle} /></div>}
    <div style={descStyle}><p style="margin: 0; line-height: 1.6;">{description}</p></div>
  </section>
)}

{type === 4 && (
  <section data-component="body" class="body-grid body-grid-4">
    {image_1 && <div class="img-wrapper"><img src={image_1} alt="" style={imgStyle} /></div>}
    {image_2 && <div class="img-wrapper"><img src={image_2} alt="" style={imgStyle} /></div>}
    {image_3 && <div class="img-wrapper-wide"><img src={image_3} alt="" style={imgStyle} /></div>}
  </section>
)}
